.wrapper{
  margin-top: 20px;
  position: absolute;
  left: 25%;
  width: 300px;
}

#chat{
  border: 1px solid black;
  width: 600px;
  height: 400px;
}

#chat p{
  margin: 1px;
}

#button{
  margin-top: 10px;
  width: 600px;
  height: 70px;
}

#button input{
  width: 475px;
  margin-right: 15px;
}

#button button{
width: 100px;
}
