.wrapper{
  margin-top: 20px;
  position: absolute;
  left: 25%;
  width: 100%;
}

#chat{
  border: 1px solid black;
  width: 50%;
  height: 400px;
}

#chat p{
  margin: 1px;
}

#button{
  margin-top: 10px;
  width: 50%;
  height: 70px;
}

#button input{
  width: 55%;
  margin-right: 15px;
}

#button button{
width: 30%;
}
